{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-back">

{% block title %}
    home
{% endblock title %}

{% block content %}
    {{ welcome }}
        &nbsp;
    {{ user }}
    <br/>
    {% if request.user.is_authenticated %}

    <a href="{% url "password_change" %}"> click here change your password </a>
    {% endif %}

{% endblock content %}


</body>

{% block  scripts %}
    <script>
  $(document).ready(function () {
      console.log("working")
  })
    </script>
{% endblock scripts %}

</html>